.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  padding: 10px;
  border: 0.5px solid rgb(49, 60, 97);
  border-radius: 4px;
}
